@model List<HRMS.Models.Employee>


<div class="row">
    <div class="col-md-12">
        <div class="box box-primary table-responsive no-padding">
            <div class="box-header">
                <div class="box-title">
                    Search Results
                </div>
            </div>
            <div class="box-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Employee ID</th>
                            <th>Employee</th>
                            <th>Department</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="mouse-hover" onclick="employeeDetails(@item.EmployeeId);">
                                <td>@item.EmployeeId.ToString("00000")</td>
                                <td>@item.FirstName @item.LastName</td>
                                <td>@item.Job.Department.Name</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
