@model HRMS.Models.Vacancy

<script>
    $('.datepicker').datepicker({
        format: 'dd/mm/yyyy',
        autoclose: true
    });

    getJobs();

    $('#departmentDropdown').on('change', function () {

        getJobs();
    });

    function getJobs() {
        var id = $('#departmentDropdown').val();

        $.ajax({
            type: "GET",
            data: {
                "departmentId": id
            },
            url: "/Employee/GetDepartmentJobs",
            beforeSend: function () {

            },
            success: function (data) {

                $('#jobList').empty();
                $.each(data, function (i, item) {
                    $('#jobList').append($('<option>', { value: data[i].JobId, text: data[i].JobTitle }));
                });
            }
        });
    }

</script>

@using (Html.BeginForm("AddVacancy", "JobOpportunity", FormMethod.Post, new { id = "addVacancyForm" }))
{
    <div class="form-horizontal">
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.Label("Department", new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.DropDownList("DepartmentId", (SelectList)ViewBag.Departments, new { @class = "form-control", id = "departmentDropdown" })
            </div>

            @Html.LabelFor(x => x.JobId, "Position", new { @class = "col-md-1 control-label" })
            <div class="col-md-4">
                <select class="form-control" id="jobList" name="jobId"></select>
            </div>

            
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.OpenDate, "Open Date", new { @class = "col-md-2 control-label" })
            <div class="col-md-9">
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBoxFor(x => x.OpenDate, new { @class = "form-control pull-right datepicker", required = "required" })
                </div>
                @Html.ValidationMessageFor(x => x.OpenDate)
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.CloseDate, "Close Date", new { @class = "col-md-2 control-label" })
            <div class="col-md-9">
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.TextBoxFor(x => x.CloseDate, new { @class = "form-control pull-right datepicker", required = "required" })
                </div>
                @Html.ValidationMessageFor(x => x.CloseDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.AmountOfOpenings, "Openings", new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(x => x.AmountOfOpenings, new { @class = "form-control", required = "required", type = "number" })
                @Html.ValidationMessageFor(x => x.AmountOfOpenings)
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-default pull-right margin-10-left" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success pull-right margin-10-left">Save</button>
            </div>
        </div>
    </div>
}