@model HRMS.Models.VacancyApplicantLink

@{
    ViewBag.Title = "Applicant Timeline - " + Model.Applicant.FirstName + " " + Model.Applicant.LastName;
}

@section Breadcrumbs{
    <ol class="breadcrumb">
        <li><i class="fa fa-briefcase"></i> Job Opportunities</li>
        <li><a href="@Url.Action("Index")">Job Board</a></li>
        <li><a href="@Url.Action("VacancyDetails", new { vacancyId = Model.VacancyApplicantLinkId })">Vacancy Details</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

<div class="row">
    <div class="col-md-12">
        <ul class="timeline">

            @foreach (var item in Model.TimelineEvents.OrderBy(x => x.DateCreated))
            {
                <!-- timeline time label -->
                <li class="time-label">
                    <span class="bg-red">@item.DateCreated.ToLongDateString()</span>
                </li>
                <!-- /.timeline-label -->

                <!-- timeline item -->
                <li>
                    <!-- timeline icon -->
                    <i class="fa @item.FontAwesomeIcon bg-blue"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> @item.DateCreated.ToShortTimeString()</span>
                        <h3 class="timeline-header">@item.Heading</h3>
                        <div class="timeline-body">
                            @item.Notes
                        </div>
                    </div>
                </li>
            <!-- END timeline item -->
            }
            <li>
                <i class="fa fa-plus bg-green mouse-hover" id="add-event" data-id="@Model.VacancyApplicantLinkId"></i>
            </li>

        </ul>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#add-event').on('click', function () {

                var linkId = $(this).data('id');
                $.ajax({
                    type: "GET",
                    data: {
                        linkId: linkId
                    },
                    url: "/JobOpportunity/CreateTimelineEvent",
                    beforeSend: function () {

                    },
                    success: function (data) {
                        bootbox.dialog({
                            title: "Add Timeline Event",
                            message: data,
                            className: "modalMedium"
                        });
                    }
                });
            });
        });
    </script>    
}