@model HRMS.Models.Vacancy

@{
    ViewBag.Title = "Vacancy Details";
    List<HRMS.Models.VacancyApplicantLink> openList = ViewBag.Open;
    List<HRMS.Models.VacancyApplicantLink> closedList = ViewBag.Closed;
}

@using (Html.BeginForm("", ""))
{
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="small-box bg-olive">
                        <div class="inner">
                            <h4>@Model.Job.JobTitle</h4>
                        </div>
                        <div class="icon">
                            <i class="fa fa-briefcase"></i>
                        </div>
                        <a href="#" class="small-box-footer" id="addApplicant">
                            Add Applicant <i class="fa fa-plus-circle"></i>
                        </a>
                    </div>
                </div>

                <div class="col-md-3 col-md-offset-1">
                    <p class="underline-div">Open Date<span class="pull-right">@Model.OpenDate.ToLongDateString()</span></p>
                    <p class="underline-div">Close Date<span class="pull-right">@Model.CloseDate.ToLongDateString()</span></p>
                    <p class="underline-div">Amount of Openings<span class="pull-right">@Model.AmountOfOpenings</span></p>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <p class="underline-div">Number of Current Offers<span class="pull-right">@Model.PositionsOffered</span></p>
                    <p class="underline-div">Number of Postions Filled<span class="pull-right">@Model.PosistionsFilled</span></p>
                    <p class="underline-div">Number of Positions Rejected<span class="pull-right">@Model.PositionsRejected</span></p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#current" data-toggle="tab" aria-expanded="true">Current Applicants</a></li>
                            <li class=""><a href="#past" data-toggle="tab" aria-expanded="false">Past Applicants</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="current">
                                @if (openList.Count() > 0)
                                {
                                    <table class="table table-striped table-responsive table-hover">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>D.O.B</th>
                                                <th>More Details</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in openList)
                                            {
                                                <tr data-id="@item.ApplicantId">
                                                    <td data-name="@item.Applicant.FirstName @item.Applicant.LastName">@item.Applicant.FirstName @item.Applicant.LastName</td>
                                                    <td>@item.Applicant.Email</td>
                                                    <td>@item.Applicant.DateOfBirth.ToLongDateString()</td>
                                                    <td>
                                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More Details <span class="caret"></span></button>
                                                        <ul class="dropdown-menu dropdown-menu-details">
                                                            <li><a href="#">View Timeline</a></li>
                                                            <li role ="separator" class="divider"></li>
                                                            <li class ="acceptApplicant"><a href="#">Accept Applicant</a></li>
                                                            <li class ="rejectApplicant"><a href="#">Reject Applicant</a></li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <p>There are currently no open applicants for this vacancy.</p>
                                }
                                
                            </div>
                            <div class="tab-pane" id="past">
                                @if (closedList.Count > 0)
                                {
                                    <table class="table table-striped table-responsive table-hover">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>D.O.B</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in closedList)
                                            {
                                                <tr>
                                                    <td>@item.Applicant.FirstName @item.Applicant.LastName</td>
                                                    <td>@item.Applicant.Email</td>
                                                    <td>@item.Applicant.DateOfBirth.ToLongDateString()</td>
                                                    <td>@item.ApplicantStatus</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <p>There are no previous applicants for this vacancy.</p>
                                }
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}


@section Scripts {
    <script>

        $(document).ready(function () {
            $('#addApplicant').on('click', function () {

                var vacancyId = @Model.VacancyId

                $.ajax({
                    type: "GET",
                    data: {
                        vacancyId: vacancyId
                    },
                    url: "/JobOpportunity/AddApplicant",
                    beforeSend: function () {

                    },
                    success: function (data) {
                        bootbox.dialog({
                            title: "Add Applicant",
                            message: data,
                            className: "modalMedium"
                        });
                    }
                });



            });

            $('.acceptApplicant').on('click', function () {

                var name = $(this).closest('td').parent().children().first().data('name');
                var vacancyId = @Model.VacancyId ;
                var applicantId = $(this).closest('tr').data('id');


                $.ajax({
                    type: "GET",
                    data: {
                        vacancyId: vacancyId,
                        applicantId: applicantId
                    },
                    url: "/JobOpportunity/AcceptApplicant",
                    beforeSend: function () {

                    },
                    success: function (data) {
                        bootbox.dialog({
                            title: "Are you sure you wish to accept " + name + "? If so please complete the information below.",
                            message: data,
                            className: "modalMedium"
                        });
                    }
                });
            });

            $('.rejectApplicant').on('click', function () {

                var name = $(this).closest('td').parent().children().first().data('name');
                var vacancyId = @Model.VacancyId ;
                var applicantId = $(this).closest('tr').data('id');

                bootbox.confirm({
                    message: "Are you sure you wish to reject " + name + "?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                type: "POST",
                                data: {
                                    vacancyId: vacancyId,
                                    applicantId: applicantId
                                },
                                url: "/JobOpportunity/RejectApplicant",
                                success: function (data) {
                                    location.reload();
                                }
                            });
                        }
                    }
                });
            });
        });


    </script>
}



